<h2>{{ site.data.docslist.docs_list_title }}</h2>
{% if site.data.docslist.docs[0] %}
  {% for item in site.data.docslist.docs %}
    <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
      {% if item.subnav[0] %}
        <ul>
          {% for entry in item.subnav %}
              <li class="{% if item.url == page.url %}active{% endif %}"><a href="{{ entry.url }}">{{ entry.title }}</a>
                {% if entry.subsubfolderitems[0] %}
                  <ul>
                  {% for subentry in entry.subsubfolderitems %}
                      <li class="{% if item.url == page.url %}active{% endif %}"><a href="{{ subentry.url }}">{{ subentry.title }}</a></li>
                  {% endfor %}
                  </ul>
                {% endif %}
              </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
{% endif %}
